

.color {
  color: red;
}
.product-image {
  width: 100%;
  height: 200px;
  aspect-ratio: 1/1;
}
.star{
  color: #ffc107;
}

.para {
  font-size: 13px;
}

.stock{
  display: flex;  
  justify-self: flex-end;
  color: white;
  width: max-content;
  height: max-content;
}
.card-title{
  height: 40px;
}